@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7fvqk7');
  src:  url('fonts/icomoon.eot?7fvqk7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7fvqk7') format('truetype'),
    url('fonts/icomoon.woff?7fvqk7') format('woff'),
    url('fonts/icomoon.svg?7fvqk7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-LOGO2:before {
  content: "\e922";
}
.icon-LOGO:before {
  content: "\e900";
}
.icon-login:before {
  content: "\e901";
}
.icon-edit-copy:before {
  content: "\e902";
}
.icon-enter:before {
  content: "\e903";
}
.icon-signin:before {
  content: "\e903";
}
.icon-login2:before {
  content: "\e903";
}
.icon-info:before {
  content: "\e904";
}
.icon-information:before {
  content: "\e904";
}
.icon-question:before {
  content: "\e905";
}
.icon-help2:before {
  content: "\e905";
}
.icon-support:before {
  content: "\e905";
}
.icon-books:before {
  content: "\e906";
}
.icon-library:before {
  content: "\e906";
}
.icon-archive:before {
  content: "\e906";
}
.icon-broadcast:before {
  content: "\e907";
}
.icon-transmit:before {
  content: "\e907";
}
.icon-inform:before {
  content: "\e907";
}
.icon-report:before {
  content: "\e907";
}
.icon-adjust:before {
  content: "\e908";
}
.icon-edit:before {
  content: "\e908";
}
.icon-calibrate:before {
  content: "\e908";
}
.icon-adapt:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-explore:before {
  content: "\e90a";
}
.icon-question-mark:before {
  content: "\e90b";
}
.icon-help:before {
  content: "\e90b";
}
.icon-read-more:before {
  content: "\e90c";
}
.icon-more:before {
  content: "\e90c";
}
.icon-book-alt2:before {
  content: "\e90d";
}
.icon-read:before {
  content: "\e90d";
}
.icon-magnifying-glass:before {
  content: "\e90e";
}
.icon-search2:before {
  content: "\e90f";
}
.icon-diary:before {
  content: "\e910";
}
.icon-sign-in:before {
  content: "\e911";
}
.icon-credit-card-alt:before {
  content: "\e912";
}
.icon-ruler:before {
  content: "\e913";
}
.icon-pencil:before {
  content: "\e913";
}
.icon-design:before {
  content: "\e913";
}
.icon-edit2:before {
  content: "\e914";
}
.icon-pencil2:before {
  content: "\e914";
}
.icon-write:before {
  content: "\e914";
}
.icon-writing:before {
  content: "\e914";
}
.icon-save:before {
  content: "\e914";
}
.icon-magnifier:before {
  content: "\e915";
}
.icon-search3:before {
  content: "\e916";
}
.icon-document-file-key:before {
  content: "\e917";
}
.icon-search4:before {
  content: "\e918";
}
.icon-youtube_searched_for:before {
  content: "\e919";
}
.icon-arrow-down:before {
  content: "\e91a";
}
.icon-book:before {
  content: "\e91b";
}
.icon-download:before {
  content: "\e91c";
}
.icon-search5:before {
  content: "\e91d";
}
.icon-enter2:before {
  content: "\e91e";
}
.icon-book2:before {
  content: "\e91f";
}
.icon-creditcards:before {
  content: "\e920";
}
.icon-download2:before {
  content: "\e921";
}
